<table mat-table [dataSource]="songsList" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Nombre Tema -->
  <ng-container matColumnDef="nombre_tema">
    <th mat-header-cell *matHeaderCellDef> Nombre Canción </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre_tema}} </td>
  </ng-container>
  <ng-container matColumnDef="nombre_album">
    <th mat-header-cell *matHeaderCellDef> Nombre Albúm </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre_album}} </td>
  </ng-container>
  <ng-container matColumnDef="preview_url">
    <th mat-header-cell *matHeaderCellDef> Preview Url </th>
    <td mat-cell *matCellDef="let element"> <a target="_blank" href="{{element.preview_url}}">Ir al Link</a>  </td>
  </ng-container>
  <ng-container matColumnDef="precio._valor">
    <th mat-header-cell *matHeaderCellDef> Valor </th>
    <td mat-cell *matCellDef="let element"> {{element.precio._valor}} </td>
  </ng-container>
  <ng-container matColumnDef="fecha_lanzamiento">
    <th mat-header-cell *matHeaderCellDef> Fecha de lanzamiento </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha_lanzamiento | date }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
