<p>search works!</p>

<div class="table table-striped">
  <table>
      <thead>
          <tr>
              <th>s</th>
              <th>s</th>
              <th>s</th>
              <th>sdf</th>
              <th>sdf</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let song of songs">
              <td>{{song.nombre_tema}}</td>
              <td>{{song.nombre_album}}</td>
              <td>{{song.preview_url}}</td>
              <td>{{song.precio._valor}}</td>
              <td>{{song.fecha_lanzamiento}}</td>
          </tr>
      </tbody>
  </table>
</div>


